@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap')
*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    background-color: #292929
    color: #000
    font-family: 'Poppins', sans-serif
    display: flex
    justify-content: center
    align-items: center
    min-height: 100vh

.cards-container
    position: relative
    max-width: 1200px
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    padding: 30px

    li //.card
        list-style: none
        position: relative
        max-width: 300px
        //height: 420px //Este es el tamaño que usará en hover
        height: 215px

        //background-color: #fff
        background-color: rgba(#fff,.85) //En lugar de usar el box-shadow en el img-box
        margin: 30px 10px
        padding: 20px 15px //Al darle padding dio la impresión de centrar la imagen
        display: flex
        flex-direction: column
        box-shadow: 0 5px 20px rgba(#000,.5)
        transition: .3s ease-in-out
        border-radius: 5px
        &:hover
            height: 420px
            .content
                visibility: visible
                opacity: 1
                margin-top: -40px
                transition-delay: .3s
        .img-box
            position: relative
            width: 260px
            heigth: 260px
            //top: -60px
            top: -80px
            left: 9px
            //box-shadow: 0 5px 20px rgba(#000,.2)
            z-index: 1
            img
                max-width: 250px
                width: 100%
                border-radius: 5px
        .content
            position: relative
            margin-top: -140px
            padding: 10px 15px
            text-align: center
            color: #111
            visibility: hidden
            opacity: 0
            transition: .3s ease-in-out

@media screen and ( max-width: 991px )
    .cards-container
        flex-direction: column
        li
            margin: 50px 10px